# 1. Ignore EVERYTHING by default
*

# 2. But DO track the .gitignore file itself
!.gitignore

# 3. Now, UN-ignore the specific config files and folders you want to back up.
# Add your essential folders (notice the trailing slash)
!/.config/hypr/
!/.config/waybar/
!/.config/kitty/
!/.config/rofi/
!/.config/swaync/
!/.config/fastfetch/
!/.config/gtk-4.0/
!/.config/gtk-3.0/
!/.config/dunst/
!/.config/wallpaper/
!/.config/nwg-look/
!/.config/thunar/
!/.config/cava/
!/.config/curd/
!/.config/wofi/

# Add your essential files
!/.zshrc
!/pkglist.txt
!/README.md
