// MINIMAL DEBUGGING THEME

$bg-main: #000000;      // black
$bg-alt: #222222;
$fg-main: #ffffff;      // white
$border-alt: #ffffff;   // white
$ply-main: #555555;
$ply-act: #ffffff;
$bg-hover: #333333;
$border-main: #444444;
$bg-hover-alt: #444444;
$ply-hover: #888888;
$msc-act: #ffffff;
